html {
  background: #3b3b3b;
  color: gainsboro;
}
body {
  background: transparent;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock, .clock_center {
  opacity: 0;
  transition: opacity 1s;
}
.clock {
  background: transparent;
  height: 80vmin;
  width: 80vmin;
  border: 1vmin solid lightsalmon;
  border-radius: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}
.clock_half_top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hours, .minutes, .seconds {
  position: absolute;
  transform-origin: bottom;
  transition: transform cubic-bezier(0.1, 2.7, 0.58, 1) .1s;
}
.hours {
  height: 25vmin;
  width: 3vmin;
  background: linear-gradient(lightsalmon, salmon);
  z-index: 1;
}
.minutes {
  height: 30vmin;
  width: 1vmin;
  background: linear-gradient(lightsalmon, salmon);
  z-index: 2;
}
.seconds {
  height: 35vmin;
  width: .5vmin;
  background: linear-gradient(lightsalmon, salmon);
  z-index: 3;
}
.clock_center {
  background: salmon;
  height: 3vmin;
  width: 3vmin;
  border-radius: 3vmin;
  position: absolute;
  z-index: 4;
}